:root {
    --background: #000000;
    --navigation: #F38518;
    --textBright: #FFFFFF;
    --textDark: #000000;
    --accentuation: #F38518;
    --shadow: #000000;
    --selection: #6FC3DF;
    --top: #000000;
    --main: #000000;
}

body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	background-color: var(--background);
}

nav {
    color: var(--textBright);
    background-color: var(--navigation);
    box-shadow: 0px 2px 10px 1px var(--shadow);
}

nav::selection {
	background: var(--selection);
}

aside {
    color: var(--textBright);
}

aside::selection {
	background: var(--selection);
}

li {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    color: var(--textBright);
}

li.selected {
    background-color: var(--accentuation);
    color: var(--textBright);
}

li:hover {
    background-color: var(--accentuation);
    color: var(--textBright);
}

li::selection {
	background: var(--selection);
}

section {
    border-color: var(--accentuation);
    box-shadow: 0px 3px 10px 0px var(--shadow)
}

.top {
    background-color: var(--textDark);
    color: var(--textBright);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.top::selection {
	background: var(--selection);
}

.main {
    background-color: var(--textDark);
    color: var(--textBright);
}

.main div::selection {
	background: var(--selection);
}

select {
    border-color: var(--textBright);
    color: var(--textBright);
}

select:hover {
    background-color: var(--accentuation);
    color: var(--textDark);
    border-color: var(--textDark);
}

a {
    color: var(--textBright);
}

a:visited {
    color: var(--textBright);
}

a:hover {
    color: var(--accentuation);
}

button {
    border-color: var(--textBright);
    color: var(--textBright);
}

button:hover {
    background-color: var(--accentuation);
    color: var(--textDark);
}