:root {
    --background: #221A0F;
    --navigation: #221A0F;
    --textBright: #D3AF86;
    --textMoody: #9D9992;
    --textDark: #91887E;
    --textTop: #DC364C;
    --accentuation: #65421C;
    --shadow: #000000;
    --shadowLight: #00000088;
    --section: #362712;
    --top: #221a0f;
    --main: #484B51;
    --list: #645342;
    --button: #BDAF86;
}

body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	background-color: var(--background);
}

nav {
    color: var(--textBright);
    background-color: var(--navigation);
    box-shadow: 0px 2px 10px 1px var(--shadow);
}

nav::selection {
	background: var(--accentuation);
}

aside {
    color: var(--textMoody);
}

aside::selection {
	background: var(--accentuation);
}

li {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    color: var(--textMoody);
}

li.selected {
    background-color: var(--list);
    color: var(--textDark);
}

li:hover {
    background-color: var(--list);
    color: var(--textDark);
}

li::selection {
	background: var(--accentuation);
}

section {
    border-color: var(--section);
    box-shadow: 0px 3px 10px 0px var(--shadowLight);
}

.top {
    background-color: var(--top);
    color: var(--textTop);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.top::selection {
	background: #5E452B;
}

.main {
    background-color: var(--section);
    color: #BDAF86;
}

.main div::selection {
	background: #5E452B;
}

select {
    border-color: var(--button);
    color: var(--button);
}

select:hover {
    background-color: var(--textTop);
    color: var(--shadow);
}

a {
    color: var(--button);
}

a:visited {
    color: var(--button);
}

a:hover {
    color: var(--textTop);
}

button {
    border-color: var(--button);
    color: var(--button);
}

button:hover {
    background-color: var(--textTop);
    color: var(--shadow);
}