body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	background-color: #FAF9FA;
}

nav {
    color: #FFFFFF;
    background-color: #4B367C;
    box-shadow: 0px 2px 10px 1px #00000080;
}

nav::selection {
    background: #6441A4;
    color: #FFFFFF;
}

aside {
    color: #C3C1C8;
}

aside::selection {
    background: #6441A4;
    color: #FFFFFF;
}

li {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    color: #17141F;
}

li.selected {
    background-color: #17141F;
    color: #FFFFFF;
}

li:hover {
    background-color: #17141F;
    color: #FFFFFF;
}

li::selection {
    background: #6441A4;
    color: #FFFFFF;
}

section {
    border-color: #2C2541;
    box-shadow: 0px 3px 10px 0px #00000080;
}

.top {
    background-color: #FFFFFF;
    color: #6441A4;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.top::selection {
    background: #6441A4;
    color: #FFFFFF;
}

.main {
    background-color: #FFFFFF;
    color: #6441A4;
}

.main div::selection {
    background: #6441A4;
    color: #FFFFFF;
}

a {
    color: #B19DD8;
}

a:visited {
    color: #B19DD8;
}